{%- extends "bootstrap/base.html" %}

{% block title %}Lil Language Learner{% endblock %}

{% block navbar %}
<div class="container">
    <div class="row">
        <div class="col-3 d-flex h-100c">
            <img src="{{ url_for('static', filename='globe.svg') }}" alt="Globe" width="60">
        </div>
        <div class="col-6 d-flex h-100">
            <h1 class="text-center">Lil Language Learner</h1>
        </div>
        <div class="col-3 d-flex h-100">
            <p class="text-right">Spanish</p>
        </div>
    </div>
</div>
{%- endblock %}

{% block content %}
<div class="container">
    <h1>Welcome to Lil Language Learner!</h1>
    <p>I am just the base template page, you shouldn't see me!</p>
</div>
{%- endblock %}