<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lil Language Learner</title>
</head>
<body>
    <h1>Welcome to the Lil Language Learner</h1>
    <form action="/quiz" method="POST">
        <label for="name">What shall we call you?</label>
        <input type="text" id="name" name="username" required>
        <label for="name">How many questions should we ask?</label>
        <input type="number" id="total_questions" name="total_questions" required>
        <button type="submit">Let's Go!</button>
    </form>
</body>
</html>