<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LLL Quiz</title>
</head>
<body>
    <h1>{{ greeting }}</h1>

    <form action="/result" method="POST">
        <label for="answer">Translate the following word:</label>
        <h2>{{ spanish_word }}</h2>
        <!-- Hidden field to pass the correct answer to result page on form submission -->
        <input type="hidden" name="spanish_word" value="{{ spanish_word }}">
        <input type="hidden" name="english_translation" value="{{ english_translation }}"> 
        <input type="text" id="answer" name="answer" required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>