{%- extends "base.html" %} 

{% block title %}LLL - Quiz{% endblock %}

{% block content %}
<main class="container bg-primary">
    <h4>{{ greeting }}</h4>

    <form action="/quiz" method="POST">
        <div class="text-center">
            <h2>Translate the following word:</h2>
            <h1 class="blockquote">{{ session['spanish_word'] }}</h1>
        </div>
        
        <div>
            <p><label for="answer" class="form-label">Your Answer:</label></p>
            <p><input type="text" id="answer" name="answer" required class="form-control"></p>
            <p><button type="submit" class="btn btn-info">Submit</button></p>
        </div>
    </form>
    
    <div class="container text-center">
        <p>Question {{ session['current_question'] }} of {{ session['total_questions'] }}</p>
        <p>Current score: {{ session['score'] }}</p>
    </div>
</main>
{%- endblock %}